<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gibran.mobile_cwk02">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileCWK02">
        <activity android:name=".IMDBMovies" android:label="IMDB Search Results" android:configChanges="orientation|screenSize" />
        <activity android:name=".MovieRatings" android:label="Movie Ratings" android:configChanges="orientation|screenSize"/>
        <activity android:name=".SearchMovies" android:label="Search Movies" android:configChanges="orientation|screenSize"/>
        <activity android:name=".EditMovie" android:label="Update Movie" android:configChanges="orientation|screenSize"/>
        <activity android:name=".FavouriteMovies" android:label="Favourites" android:configChanges="orientation|screenSize"/>
        <activity android:name=".DisplayMovies" android:label="My Movies" android:configChanges="orientation|screenSize"/>
        <activity android:name=".RegisterMovie" android:label="Add Movie" android:configChanges="orientation|screenSize"/>
        <activity android:name=".MainActivity"  android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>